@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared class  */
.dflex {
    display: flex;
}

.primaryColor {
    color: rgb(255, 144, 14);
}

.primaryBtn {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.section-title {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.section-title>h1 {
    font-size: 4rem;
}

.section-title>p {
    margin: 32px 0px;
}

/* header section  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 80px;
}

.header-container {
    padding-bottom: 30px;
}

.header-section {
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

nav>h1 {
    font-size: 2.8rem;
}

nav>ul {
    gap: 20px;
}

nav>ul>li {
    list-style: none;
    text-decoration: none;
}

.headerImage {
    margin: 50px 0px;
}

/* team member section start here */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.teamMemberSection {
    gap: 70px;
}

.teamMembers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teamMembers>img {
    width: 342px;
    height: 342px;
}

.teamMembersInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teamMemberUnder>p {
    margin: 30px 0px;
}

/* small devices responsive style  */
@media screen and (max-width:576px) {
    .primaryBtn {
        border-radius: 5px;
        background: rgb(255, 144, 14);
        color: rgb(255, 255, 255);
        padding: 10px 15px;
    }

    .section-title>h1 {
        font-size: 2rem;
    }

    .section-title>p {
        margin: 20px 0px;
        padding: 0px 10px;
    }

    nav {
        flex-direction: column;
        padding: 20px 0px;
        gap: 20px;
    }

    nav>h1 {
        font-size: 1.8rem;
    }

    .headerImage {
        margin: 20px 0px;
    }

    .header-container {
        padding-bottom: 5px;
    }

    .headerImage>img {
        width: 100%;
        padding: 0px 10px;
    }

    /* team membar section  */
    .teamMemberSection {
        flex-direction: column;
    }

    .teamMembers>img {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .teamMembersInfo {
        display: flex;
        justify-content: center;=
        flex-direction: column;
    }
    .teamMemberUnder{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }
    .teamMemberUnder>p {
        margin: 10px 0px;
    }

}